@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

body {
  background-color: #050505; /* Supiri dark background eka */
  color: #ffffff;
  overflow-x: hidden;
}

/* Custom Selection Color */
::selection {
  background-color: #c084fc; /* Purple paatin highlight wenna */
  color: #000;
}